{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap-material-design/dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/bootstrap-material-design/dist/js/ripples.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/1.0.1/js/ngDialog.js"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>


<script type="text/javascript" src="{% static 'javascripts/sdpspot.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/sdpspot.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/sdpspot.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/monitor/monitor.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/monitor/controllers/monitor.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/monitor/controllers/LotDirectory.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/monitor/controllers/payment_methods.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/monitor/services/LotDirectory.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/monitor/services/monitor.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/user/user.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/user/services/user.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/user/controllers/user.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'lib/ng-dialog/js/ngDialog.min.js' %}"></script>

{% endcompress %}

