{% load compress %}
{% load staticfiles %}

{% compress css %}
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">-->


<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-material-design/dist/css/bootstrap-material-design.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-material-design/dist/css/ripples.min.css' %}" />
<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" />-->


<link rel="stylesheet" type="text/css" href="{% static 'cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/css/ngDialog-theme-default.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'mobile/stylesheets/insert.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'lib/ng-dialog/css/ngDialog.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/ng-dialog/css/ngDialog-theme-default.min.css' %}" />

{% endcompress %}
