  <h1>Enter info here</h1>
    <div class="well">
      
      <form role="form" ng-submit="vm.create_spot()">
        <div class"alert alert-danger" ng-show="error" ng-bind="error"></div>
        <div class="form-group">
          <label for="spot__name">Spot Name</label>
          <input type="text" class="form-control" id="spot__name" ng-model="vm.spot_name" placeholder="ex. Handicap" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>

    </div>
  </div> 


