<div class="well" ng-controller="MonitorController as vm">
  <!--<table class="table table-striped">
      <tbody> 
        <tr><td>Number  : {{ vm.curr_info.number }}<td></tr>
        <tr><td>Active  : {{ vm.curr_info.active }}<td></tr>
        <tr><td>UUID    : {{ vm.curr_info.uuid }}<td></tr>
        <tr><td>Section : {{ vm.curr_info.section }}<td></tr>
        <tr><td>Price   : {{ vm.curr_info.section.rate }}<td></tr>
      </tbody>
      </table>-->
  <table class="table table-striped">
    <tbody>
      <tr><td>Spot # {{ vm.currSpots[0].number}}</td></tr>
      <tr><td>UUID: {{vm.currSpots[0].uuid}}</td></tr>
      <tr><td>Rate: {{vm.currSpots[0].rate}}</tr></td>
      <tr><td>Occupied Status: {{vm.currSpots[0].occ_status}}</tr></td>
      <tr><td>Description: {{vm.currSpots[0].description}}</tr></td>
    </tbody>
  </table>
</div>
