<div class="col-md-8 col-md-offset" ng-controller="MonitorController as vm">  
  {% if user.is_authenticated %}    
    <div class ="col-md-4 col-md-offset">
      <h1>Enter info here</h1>
      <div class="well">
        <form role="form" ng-submit="vm.create_lot()">
          <div class"alert alert-danger" ng-show="error" ng-bind="error"></div>
          <div class="form-group">
            <label for="lot__name">Lot Name</label>
            <input type="text" class="form-control" id="lot__name" ng-model="vm.lot_name" placeholder="ex. West Core" />
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Display Lot table -->
  <div class="col-md-4 col-md-offset" ng-controller="LotDirectoryController as LotVM">
    {% verbatim %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>

        <tbody> 
            <tr ng-repeat="lot in LotVM.lot_directory">
              <td><p>Detected</p>{{ lot.name }}</td>
            </tr>
        </tbody>
      </table>
    {% endverbatim %}
  </div>

  <!-- Display SPOT table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Section</th>
        <th>UUID</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
    
    {% for spot in garage_data %}
      {% if spot.active == True %}
      <tr>
        <!--<th scope="row">1</th>
        !-->
        <td>{{ spot.number }}</td>
        <td>{{ spot.section }}</td>
        <td>{{ spot.uuid }}

        </td>
        <td>{{ spot.occ_status }}</td>
        <td>  
          <button type="button" class="btn btn-default" aria-label="Right Align">
            <span class="glyphicon glyphicon-edit glyphicon-align-right" aria-hidden="true"></span>
            </button>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Unauthorized</p>
  {% endif %}
