{% if user.is_authenticated %} 
  <div class="row" ng-controller="MonitorController as vm">
    <div class="col-md-3">
      <div class="well">
        {% include "lot_directory.html" %}
      </div>
    </div> 
    <div class="col-md-6">
      <div class="well">
        {% include "spot_map.html" %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        {% include "spot_map_info.html" %}
      </div>
      <div class="well">
        {% include "spot_info.html" %}
      </div>
    </div> 
  </div>
{% else %}
  <p>Unauthorized</p>
{% endif %}
