<div class="row">
<div class="col-md-4 col-md-offset coolness" ng-controller="MonitorController as vm">  
  {% if user.is_authenticated %}    
    
    
    <h1> Change Rates </h1>
    <div class="well">
      <form role="form" ng-submit="vm.edit_rate()">
        <div class"alert alert-danger" ng-show="error" ng-bind="error"></div>
        <div class="form-group">
          <label for="spot__number">Spot number</label>
          <input type="text" class="form-control" id="spot__number" ng-model="vm.spot_number" placeholder="ex. 3" />
          <label for="spot__rate">Pay Rate ($1/hr)</label>
          <input type="text" class="form-control" id="spot__rate" ng-model="vm.spot_rate" placeholder="ex. $10/hr" />
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
      
    </div>
    
    <div class ="col-md-14 col-md-offset">
      <h1>Enter info here</h1>
      <div class="well">
        <form role="form" ng-submit="vm.create_lot()">
          <div class"alert alert-danger" ng-show="error" ng-bind="error"></div>
          <div class="form-group">
            <label for="lot__name">Lot Name</label>
            <input type="text" class="form-control" id="lot__name" ng-model="vm.lot_name" placeholder="ex. West Core" />
            <button type="submit" class="btn btn-primary">Create</button>

          </div>
        </form>
            <button class="btn btn-primary" ng-click="vm.update_lots()">Save</button>
      </div>
    </div>
  </div>

  <!-- Display SPOT table -->
  <div class="col-md-8 col-md-offset">

  
  <table class="table table-striped">
    <h1>Lot Spots</h1>
    <thead>
      <tr>
        <th>Section</th>
        <th>#</th>
        <!--<th>Rate</th>
        <th>UUID</th>-->
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="spot in vm.currSpots">
        <!--<th scope="row">1</th>
        !-->
        {% verbatim %}
        <td>{{ spot.section }}</td>
        <td>{{ spot.number }}</td> 
        <!--<td>${{ spot.rate }}/hr</td>
        <td>{{ spot.uuid }}</td>-->
        <!--<td>{{spot.occ_status}}</td>-->
        {% endverbatim %}
        
        <!--Trying to use django python to display a red or green square-->
        <td><div class="box red" data-ng-if="spot.occ_status == 1"></div>
        <div class="box green" data-ng-if="spot.occ_status == 0"></div></td>
        <!--{% if spot_data.occ_status %}
          <td><div class="box red"></div></td>
        {% else %}
          <td><div class="box green"></div></td>
        {% endif %}-->
        <td>  
          <button type="button" class="btn btn-default" aria-label="Right Align"  ng-dialog="static/templates/monitor/spot_details.html">
            <span class="glyphicon glyphicon-edit glyphicon-align-right" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

  <!-- Display Lot table -->
  <div class="col-md-4 col-md-offset" ng-controller="LotDirectoryController as LotVM">
    {% verbatim %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>

        <tbody> 
            <tr ng-repeat="lot in LotVM.lot_directory">
              <td>{{ lot.name }}</td>
            </tr>
        </tbody>
      </table>
    {% endverbatim %}
  </div>

  {% else %}
    <p>Unauthorized</p>
  {% endif %}
