{% verbatim %}  
  <h1 class="text-center">{{ vm.curr_lot.name }}</h1>
{% endverbatim %}

  {% load static %}
  <img class="img-responsive" src="{% static "media/monitor/spot_graphic.png" %}" usemap="#spot_map">
  <map name="spot_map">
    <area shape="rect" coords="0,0,90,177" ng-click="vm.spot_info(0)"> 
    <area shape="rect" coords="0,0,180,354" ng-click="vm.spot_info(1)"> 
    <!--<area shape="rect" coords="0,0,180,354" ng-click="vm.spot_info(1)" ng-dialog="static/templates/monitor/spot_dialog.html?myVar1=1"> -->
  </map>
