<div class="col-md-6">
  <div class="card">
    <div class="card-image">
      <div class="view overlay hm-white-slight z-depth-1">
        <img src="static/media/mobile/UCSC-E2.jpeg" class="img-responsive" alt="">
        <a href="#"><div class="mask waves-effect"></div></a>
      </div>  
    </div>
    <div class="card-block text-center">
      <h2 class="card-title">SPOT #</h2>
      <table class="table text-center">
        <tbody>
          <tr><td><h4>Lot:</h4></td><td><h4>Test Core</h4></td></tr>
          <tr><td><h4>Section:</h4></td><td><h4>Test Core</h4></td></tr>
          <tr><td><h4>Rate:</h4></td><td><h4>Test Core</h4></td></tr>
        </tbody>
      </table>
            <a href="#" class="btn btn-floating btn-lg waves-effect waves-light pull-right"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>

  </div>
</div>
