<div class="row" ng-controller="RegisterController as vm">
	<div class="col-md-10 col-md-offset-0">
		<h1>Register</h1>

		<div class="well">
			<form role="form" ng-submit="vm.register()">
				<div class="form-group">
					<label for="register__email">Email</label>
					<input type="email" class="form-control" id="register__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" />
				</div>

				<div class="form-group">
					<label for="register__username">Username</label>
					<input type="text" class="form-control" id="register__username" ng-model="vm.username" placeholder="ex. john" />
				</div>

				<div class="form-group">
					<label for="register__password">Password</label>
					<input type="password" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

 <!--<form role="form" ng-submit="vm.edit_rate()">
        <div class"alert alert-danger" ng-show="error" ng-bind="error"></div>
        <div class="form-group">
          <label for="spot__number">Spot number</label>
          <input type="text" class="form-control" id="spot__number" ng-model="vm.spot_number" placeholder="ex. 3" />
          <label for="spot__rate">Pay Rate ($1/hr)</label>
          <input type="text" class="form-control" id="spot__rate" ng-model="vm.spot_rate" placeholder="ex. $10/hr" />
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>-->