<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    color: blue;
    font-family: Comic Sans MS;
    font-size: 300%;

}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}
table, th, td{
	border: 1px solid black; 
}
</style>
</head>

<body>

<p>Click on the location where you would like to park</p>
<p>North Remote, East Remote, West Remote or West Core Structure</p>

<img src="parking-map-111916-1.png" width="700" height="1000" alt="Parking" usemap="#parkmap">

<map name="parkmap">
  <area shape="rect" coords="250,40,100,126" alt="NorthRemote" href="NorthRemote.html">
 <area shape="rect" coords="230,250,270,150" alt="WestCore" href="WestCore.html">
 <area shape="rect" coords="400,600,660,426" alt="EastRemote" href="EastRemote.html">
 <area shape="rect" coords="300,600,100,426" alt="WestRemote" href="WestRemote.html">
</map>

</body>
</html>



</body>
</html>
