<!DOCTYPE html>
<html>
<head>
<style>
h1 {
    color: blue;
    font-family: Comic Sans MS;
    font-size: 300%;

}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}
table, th, td{
	border: 1px solid black; 
}
</style>
</head>

<body>
<h1> UCSC West Remote Parking </h1>
<table style="width:100%">
  <tr>
    <th>Sloth</th>
    <th>Status</th> 
  </tr>
  <tr>
    <td>Slot 1</td>
    <td>Vacant</td>
  </tr>
  <tr>
    <td>Slot 2</td>
    <td>Occupied</td>
  </tr>
  <tr>
    <td>Slot 3</td>
    <td>Vacant</td>
  </tr>
</table>

</body>
</html>